.friendList { 
    margin: 0 auto 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.item{
    width: 400px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 5px;
}

.item:last-child{
    margin-bottom: 0;
}

.avatar{
    border-radius: 5px;
    background-color: #808080;
    margin-left: 10px;
}

.name{
    display: block;
    font-size: 28px;
    font-weight: 700;
    margin: auto 0 auto 10px;
    
}

.isOnline::after {
    content: '';
    display: block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}

/* .notIsOnline {
    composes: isOnline;
} */

.notIsOnline {
    margin-right: 10px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}